.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1da1f2;
}

.logo h1 {
  color: white;
  font-size: 24px;
  margin: 0;
}

.links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
}

.links a:hover,
.links .active {
  color: #1da1f2;
  border-bottom: 2px solid #1da1f2;
}